import(methods)
import(shikken)
import(data.table)
import(GenomicRanges)
import(Biostrings)
import(kernlab)

importFrom(fields, image.plot)

export(
       simplePlot,
       showSVM,
       plotDecisionSurface,
       makeCircle,
       
       spectrumFeatures,
       
       ## from ARE.utils
       trim.data,
       match.dim,
       create.densities,
       plot.densities
       )

